extends ../templates/layout.pug

block content
  h1.page-header Register
  form(name='regForm' action='/register' method='POST' )
    .container-fluid
      .col-md-4
        .panel.panel-default
          .panel-body

            .form-group
              label Username
              input.form-control(
                name='username'
                maxlength=80
                autocomplete='off'
                required
                autofocus)

            .form-group
              label E-Mail
              input.form-control(
                type='email'
                name='email'
                maxlength=80
                autocomplete='off'
                required)

            .form-group
              label Password
              input.form-control(
                name='password'
                type='password'
                maxlength=80
                autocomplete='off'
                required)

            button.btn.btn-default(type='submit') GO!
