extends ../layout

mixin todoList
  .col-md-6
    .panel.panel-default
      .panel-heading
        input#todo-input-add.panel-title(placeholder='What do you need to do?')
        button#todo-button-add.btn.btn-primary(type='button') Add
      .panel-body
        .progress
          #todo-progress.progress-bar.progress-bar-success(
            role='progressbar'
            aria-valuenow='0'
            aria-valuemin='0'
            aria-valuemax='100'
            style='width: 0%')

        #todo-list-container
          include todo-list.pug

append styles
    link(rel='stylesheet' href='/todo/styles.css')

block content
  h1 TODO
  +todoList

append scripts
  script(src='/todo/local.js')
  script(src='/todo/script.js')
